.value {
  margin-left: 15px;
}

.logo {
  background: url("assets/ki.jpg");
  background-size: cover;
  width: 4vh;
  height: 4vh;
  margin: 3px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  color: #fff;
  margin: 0 auto;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}

.App > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
}

/* Dodanie stylu dla sekcji other-devices */
.other-devices {
  margin-top: 20px; /* Dodanie odstępu od góry */
  display: flex; /* Ustawienie flexbox */
  justify-content: space-around; /* Wycentrowanie elementów na środku */
  gap: 20px; /* Dodanie odstępu między kafelkami */
}

/* Dodanie stylu dla kafelka "Device Status" */
.device-status-tile {
  background-color: #000000;
  padding: 20px;
  border-radius: 8px;
  margin-top: 10px;
}

/* Dodanie stylu dla sekcji "separator" */
.separator {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin-top: 20px;
}

/* Dodanie stylu dla kafelka urządzenia */
.device-tile {
  border-bottom: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

/* Dodanie stylu dla nagłówka w kafelku urządzenia */
.device-tile h2 {
  color: white;
}

/* Dodanie stylu dla tekstu w kafelku urządzenia */
.device-tile p {
  margin: 5px 0;
  color: white;
}

/* Dodanie stylu dla kafelków "Other Devices" */
.other-devices .device-tile {
  background-color: #000000;
  border-radius: 10px;
}

/* Dodanie stylu dla nagłówka w kafelkach "Other Devices" */
.other-devices .device-tile h2 {
  color: white;
}

/* Dodanie stylu dla tekstu w kafelkach "Other Devices" */
.other-devices .device-tile p {
  color: white;
}


.details-button {
  color: blue;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.details-button:hover {
  text-decoration: none;
}
.titleStyle {
  color: #26567e;
}