.tile-device {
    padding: 2%;
}

.tile-device-inside {
    transition: 0.5s;
}

.tile-device-inside:hover {
    background-color: #264357;
}

.tile-device-hugediffer {
    background-color: #f44336!important;
}

.tile-device-inside.active {
    background-color: #02b1af!important; /* Kolor tła dla aktywnego kafelka */
}
